html {
  font-size: 75%;
  height: 100%;
}
html body {
  font-family: 'SOne-F200_v20' !important;
  overflow-x: hidden;
  /*Setting scroll for the wrapper*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/mainbg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body span,
html body .ui-page {
  font-family: 'SOne-F200_v20' !important;
}
html body hr {
  max-width: 100%;
}
html body a {
  text-decoration: none;
}
html body a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'SOne-F200_v20';
  src: url('../assets/fonts/SOne/SOne-F200_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F300_v20';
  src: url('../assets/fonts/SOne/SOne-F300_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F400_v21';
  src: url('../assets/fonts/SOne/SOne-F400_v2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F400c_v21';
  src: url('../assets/fonts/SOne/SOne-F400c_v2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F500_v20';
  src: url('../assets/fonts/SOne/SOne-F500_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F600_v20';
  src: url('../assets/fonts/SOne/SOne-F600_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F700_v20';
  src: url('../assets/fonts/SOne/SOne-F700_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F800_v20';
  src: url('../assets/fonts/SOne/SOne-F800_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'SOne-F200_v20' !important;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.contentWrapper {
  width: 100%;
  height: 100% !important;
  background-image: url(../assets/images/mainbg.png) !important;
  background-repeat: no-repeat;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.loginpage {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/loginbg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
.loginpage .login_wrapper {
  position: absolute;
  bottom: 20px;
  width: 92%;
}
.loginpage .login_wrapper .form-input {
  padding-top: 20px;
}
.loginpage .login_wrapper .form-input .tbx-login {
  position: relative;
  display: block;
  padding: 4px 12px;
  min-height: 39px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(61, 57, 61, 0.95);
  box-sizing: border-box;
  border-radius: 26px;
  width: 100%;
  border: none;
  font-family: 'SOne-F200_v20';
}
.loginpage .login_wrapper .form-input .btn-login {
  background-color: #A72A6D !important;
}
.loginpage .login_wrapper .form-input .btn-login:hover {
  background-color: #A72A6D !important;
}
.loginpage .login_wrapper .form-input .btn-login:active {
  background-color: #A72A6D !important;
}
.loginpage .login_wrapper .form-input .btn-login::before {
  background-color: #A72A6D !important;
}
.header {
  background: none;
  height: 32px;
  text-align: center;
  font-family: 'SOne-F300_v20';
  font-size: 25px;
  color: #fff;
  padding: 20px 10px 0px 10px;
}
.header .header-left {
  color: #fff;
}
.tabbar {
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: 'SOne-F400_v20';
  font-size: 32px;
  color: #fff;
}
.content {
  height: 100%;
  width: 100%;
  top: 55px;
  bottom: 0px;
  overflow-y: auto;
  background-color: #ffffff;
}
.login-container {
  padding-left: 4%;
  padding-right: 4%;
}
#map {
  width: 100%;
  height: 70%;
  background: #ccc;
}
#map .labels {
  color: white;
  background: none;
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  text-align: center;
  width: 70px;
  white-space: nowrap;
  opacity: 1 !important;
}
.arrivedPplWrapper {
  height: 50px;
}
.arrivedPplWrapper .arrivedPplItem {
  background-color: #493073;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  margin-right: 5px;
}
.homepage .kg-event-list {
  padding: 8px 0px 14px 0px;
}
.homepage .kg-event-list .event-detail {
  padding-top: 15px;
}
.homepage .kg-event-list .event-detail .event-date {
  float: left;
  width: 21%;
  position: relative;
  border-right: 1px solid #CACACA;
  padding: 0px 14px;
}
.homepage .kg-event-list .event-detail .event-dtls {
  width: 61%;
  float: left;
  padding-left: 20px;
  position: relative;
}
.homepage .kg-event-list .event-member-list .member-list {
  list-style: none;
  display: inline-flex;
  padding: 10px;
}
.homepage .kg-event-list .event-button .ui-btn .ui-inline {
  display: inline-block;
  width: 49%;
  height: 55px;
}
.homepage .ui-tabbar a {
  font-family: 'SOne-F400c_v21';
  color: rgba(255, 255, 255, 0.7);
}
.homepage .ui-tabbar li:active {
  background-color: #A72A6D !important;
}
.homepage .pending {
  border-left: 4px solid #FECA15;
}
.homepage .accepted {
  border-left: 4px solid #41C555;
}
.homepage .rejected {
  border-left: 4px solid #FF0000;
}
.homepage .ui-btn {
  background-color: #7b3f87 !important;
}
