@import 'less/common';
@import 'less/overides';
@import 'less/mixins';
@import 'less/variable';
span,
h1,
h2,
h3,
h4,
h5,
.ui-header h6,
button {
    font-family: 'SOne-F200_v20'!important;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.paddingBottom30px {
    padding-bottom: 30px;
}

.contentWrapper {
    width: 100%;
    height: 100% !important;
    background-image: url(../assets/images/mainbg.png) !important;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.ui-header {
    background: @secondary-bg !important;
}

.loginpage {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/loginbg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    .login_wrapper {
        position: absolute;
        bottom: 20px;
        width: 92%;
        .form-input {
            padding-top: 20px;
            .tbx-login {
                position: relative;
                display: block;
                padding: 4px 12px;
                min-height: 39px;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                white-space: nowrap;
                cursor: pointer;
                background-color: rgba(61, 57, 61, 0.95);
                box-sizing: border-box;
                border-radius: 26px;
                width: 100%;
                border: none;
                font-family: 'SOne-F200_v20';
            }
            .btn-login {
                background-color: @loginbtn-bg !important;
            }
            .btn-login:hover {
                background-color: @login-bg-active !important;
            }
            .btn-login:active {
                background-color: @login-bg-active !important;
            }
            .btn-login::before {
                background-color: @loginbtn-bg !important;
            }
        }
    }
    .ui-header-login {
        background: @secondary-bg !important;
        .ui-header-btn {
            margin-right: 16px;
        }
    }
}

.header {
    background: none;
    height: 32px;
    text-align: center;
    font-family: 'SOne-F300_v20';
    font-size: 25px;
    color: #fff;
    padding: 20px 10px 0px 10px;
    .header-left {
        color: #fff;
    }
}

.tabbar {
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'SOne-F400_v20';
    font-size: 32px;
    color: #fff;
}

.content {
    height: 100%;
    width: 100%;
    top: 55px;
    bottom: 0px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

.login-container {
    padding-left: 16px;
    padding-right: 16px;
}

// navigation page styles goes here
#map {
    width: 100%;
    height: 334px;
    background: #ccc;
    .labels {
        color: white;
        background: none;
        height: 32px;
        text-align: center;
        font-family: 'SOne-F300_v20';
        font-size: 16px;
        color: #fff;
        //padding: 20px 10px 0px 10px;
        opacity: 1 !important;
    }
     //to hide "terms of use" on map
    .gmnoprint{
		a, span, div {
	    	display:none;
	    }
	}
  
	//to hide "google logo" on map
	img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"], a[href^="https://maps.google.com/maps"]{
	    display:none !important;
	}
}

// home page page style 
.homepage, .navigationPage{
    .kg-event-list {
        .event-detail {
            width: 100%;
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            .event-date {
                float: left;
                border-right: 1px solid #CACACA;
                padding: 0px 14px;
                display: block;
                .event-dd {
                    font-size: 20px;
                    padding: 8px 0;
                    font-family: 'SOne-F400_v21';
                }
                span {
                    font-size: 16px;
                }
            }
            .event-dtls {
                padding-left: 20px;
                width: 66%;
                float: left;
                display: block;
                position: relative;
                box-sizing: border-box;
                .event-name {
                    font-size: 20px;
                    font-weight: bold;
                    padding: 8px 0;
                }
                span {
                    font-size: 16px;
                }
            }
        }
        .event-member-list {
            margin-left: -24px !important;
            .member-list {
                list-style: none;
                display: inline-flex;
            }
        }
        .pending-status {
            margin: 0 auto;
            text-align: center;
            padding: 12px 0;
        }
    }
    .ui-tabbar a {
        font-family: 'SOne-F400c_v21';
        color: rgba(255, 255, 255, 0.7);
    }
    .ui-listview li {
        font-size: 16px;
        font-weight: 600;
    }
    .ui-tabbar li:active {
        background-color: @loginbtn-bg !important;
    }
    .pending {
        border-left: 4px solid @pending-bg;
        border-bottom: none !important;
        padding: 0px !important;
    }
    .accepted {
        border-left: 4px solid @accepted-bg;
        border-bottom: none !important;
        padding: 0px !important;
    }
    .rejected {
        border-left: 4px solid @rejected-bg;
        border-bottom: none !important;
        padding: 0px !important;
    }
    .ui-btn {
        background-color: @primary-bg;
        padding: 13px 49px;
        margin: 0 8px;
    }
    .event-members {
        background: #fff;
        padding: 11px 18px;
        margin-top: -3px;
        border-left: 4px solid #ccc;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        opacity: 50%;
        color: #000;
        font-family: 'SOne-F400c_v21' !important;
    }
}

//navigation page specific styles
.navigationPage{
	 .kg-event-list {
        .event-detail {
            height: 115px;
        }
        .event-member-list{
           height: 60px;
           //font-size: 16px;
        }
        .pending-status{
        	height: 76px;
        }
        .arrived-member-list {
		    height: 76px;
		    font-size: 16px;
		    .arrived-member{
        		display: inline-block;
		        background-color: #493073;
		        color: white;
		        border: 1px solid;
		        border-radius: 3px;
		        margin-right: 5px;
		    }
		}
    }
}

.ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item) {
    background-color: #7B3F87;
}

.ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item)::before {
    background-color: #200055;
}

.ui-floatingactions {
    background-color: #200055 !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
}

.ui-floatingactions .ui-floatingactions-item:last-child {
    margin-right: 0px !important;
}

.ui-floatingactions .ui-floatingactions-item:first-child {
    margin-left: 0px !important;
}

.btn-fab {
    background-color: @primary-bg !important;
}

.btn-fab:hover {
    background-color: @primary-bg-active !important;
}

.btn-fab:active {
    background-color: @primary-bg-active !important;
}

.btn-fab::before {
    background-color: @primary-bg !important;
}

.ui-floatingactions .ui-floatingactions-item.ui-icon-floating-add::after {
    left: 20px;
}

.ui-floatingactions .ui-floatingactions-item::before {
    background-color: @primary-bg !important;
}

.ui-header > .ui-header-btn:active::before {
    background-color: @primary-bg !important;
}

.ui-header > .ui-header-btn:focus {
    border: none !important;
}

input.ui-text-input.ui-text-input-disabled,
textarea.ui-text-input.ui-text-input-disabled,
input.ui-text-input:disabled,
textarea.ui-text-input:disabled {
    text-shadow: 0 0 0 rgba(0, 0, 0, 1) !important;
}

.ui-listview.ui-colored-list .ui-li.ui-li-anchor:active,
.ui-listview.ui-colored-list .ui-li.ui-btn:active,
.ui-listview.ui-colored-list .ui-li-static:active {
    background: @secondary-bg !important;
}


//to hide 'powered by Google' on search results
/*.pac-container:after {
   background-image: none !important;
   height: 0px;
}*/

input.ui-text-input,
    textarea.ui-text-input {
        padding: 0px 32px 0px 0px !important;
        background: @secondary-bg !important;
        line-height: 20px !important;
        font-size: 18px !important;
    }


// New Event
.newevent {
    .ui-header > .ui-header-btn.ui-header-btn-text {
        min-width: 0px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .ui-header > .ui-header-btn:active::before {
        background: @secondary-bg !important;
    }
    textarea.ui-text-input + .ui-text-input-textline {
        top: 0.5px;
    }
    .ui-text-input-textline {
        background: #3EB9CB !important;
        margin: 0px !important;
    }
    .ui-listview.ui-colored-list .ui-li-static:active {
        background: @secondary-bg !important;
    }
    .textinput-box {
        label {
            display: block;
            font-weight: bold;
            padding-bottom: 5px;
        }
    }
    .datepicker {
        display: inline-block;
        width: 160px;
        background-color: #7b3f87 !important;
        padding: 4px 20px;
        border-radius: 26px;
        position: relative;
        min-height: 39px;
        overflow: hidden;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        box-sizing: border-box;
        border: none;
    }
    .timepicker {
        display: inline-block;
        width: 120px;
        background-color: #7b3f87 !important;
        padding: 4px 10px;
        border-radius: 26px;
        position: relative;
        min-height: 39px;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        box-sizing: border-box;
        border: none;
        float: right;
    }
    .location {
        display: block;
        float: right;
        position: relative;
        top: -45px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        margin-right: 3px;
        background: url(../assets/images/location_map_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .people {
        display: block;
        float: right;
        position: relative;
        top: -46px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        /* margin-right: 12px; */
        background: url(../assets/images/person_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .member-list {
        list-style: none;
        display: inline-flex;
    }
    .notification {
        display: flex;
        justify-content: center;
        .reminder {
            background: url(../assets/images/reminder_icon.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 100px;
            height: 50px;
            position: relative;
            text-align: center;
            span {
                position: absolute;
                top: 55px;
                left: 16px;
                font-size: 18px;
            }
        }
        .endtime {
            background: url(../assets/images/clock_icon.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 100px;
            height: 50px;
            position: relative;
            text-align: center;
            span {
                position: absolute;
                top: 55px;
                left: 16px;
                font-size: 18px;
            }
        }
    }
}

//Invitee Page
.invitee-list {
    .pending {
        border-left: 4px solid @pending-bg !important;
        border-bottom: none !important;
        padding: 0px !important;
    }
    .accepted {
        border-left: 4px solid @accepted-bg !important;
        border-bottom: none !important;
        padding: 0px !important;
    }
    .rejected {
        border-left: 4px solid @rejected-bg !important;
        border-bottom: none !important;
        padding: 0px !important;
    }
    .textinput-box {
        height: 30px !important;
        padding: 16px !important;
        .invitee-status {
            float: right;
            font-family: 'SOne-F400_v21' !important;
            opacity: 0.5;
        }
        .invitee-name {
            font-family: 'SOne-F400_v21' !important;
            font-size: 20px;
        }
    }
    .status-text {
        font-family: 'SOne-F600_v20' !important;
        font-size: 20px;
        text-align: center;
    }
    .pending-status {
        margin: 0 auto !important;
        text-align: center;
        padding: 12px 0 !important;
        .ui-btn {
            padding: 13px 49px;
        }
    }
    .accepted-status {
        .ui-btn {
            display: inherit;
            padding: 16px;
            margin: 0px 16px;
            text-align: center;
        }
    }
}

//location page
.location-page {
    input {
        backgraund: transparent;
    }
}

//contactlist page
.contactlist {
    .ui-li-static {
        border-bottom: none !important;
        .user-name {
            font-weight: 600;
        }
        .check-box {
            float: right;
        }
    }
}
