<div class="contentWrapper homepage" >
	<div class="container">
		<div class="landing_logo"></div>
		<div class="ui-tabbar">
			<ul>
				<li class="ui-li-anchor"><a href="#" class="ui-tab-active">Tab1</a></li>
				<li class="ui-li-anchor"><a href="#">Tab2</a></li>
				<li class="ui-li-anchor"><a href="#">Tab3</a></li>
				<li class="ui-li-anchor"><a href="#">Tab4</a></li>
			</ul>
		</div>
		<div class="padding-top">
			<a href="#/login" class="waves-effect waves-light btn-blue btn">login</a>
		</div>
		<div class="padding-top">
			<a href="#/signup" class="waves-effect waves-light btn-border btn">Sign Up</a>
		</div>
	</div>
</div>