
<div class="contentWrapper homepage">
    <div class="container">
        <header-template></header-template>
        <div class="ui-tabbar ui-tabbar-portrait" id="tau-14-1458837581419" data-tau-built="TabBar" data-tau-name="TabBar" aria-disabled="false" data-tau-bound="TabBar">
            <ul>
                <li class="ui-li-anchor ui-li-active" style="width: 50%;"><a><span class="ui-tabbar-text">Upcoming</span></a></li>
                <li class="ui-li-anchor ui-li-active" style="width: 50%;"><a><span class="ui-tabbar-text">All</span></a></li>
            </ul>
        </div>
        <div class="ui-content ui-scrollview-clip ui-colored-list-clip content" data-role="content" role="main" id="tau-264-1458884032114" data-tau-built="Scrollview" data-tau-name="Scrollview" aria-disabled="false" data-tau-bound="Scrollview" >
            <div class="ui-scrollview-view" style="position: relative;">
                <canvas class="ui-colored-list-canvas" width="360" height="1027" style="top: -200px;"></canvas>
                <ul class="ui-listview ui-colored-list " id="tau-265-1458884032114" data-tau-built="Listview,ColoredListview" data-tau-name="Listview,ColoredListview" aria-disabled="false" data-tau-bound="Listview,ColoredListview">
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                    <li class="ui-li-static">List</li>
                </ul>
            </div>
        </div>
    </div>
</div>


