<script type="text/javascript" src="js/libs/tau/mobile/js/tau.js"></script>
<!--Navigation page-->
<div class="contentWrapper navigationPage">
    <div id="navigation" class="ui-page ui-page-active">
        <div class="ui-header ui-has-more" data-position="fixed">
            <h2 class="ui-title">{{selectedEvent.title}}</h2>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-left" ui-sref="home">BACK</a>
        	<a ng-show="(enableTrackBtn && toggleStartBtn)" class="ui-header-btn ui-header-btn-text ui-header-btn-right" ng-click="trackUsers()">START</a>
            <a ng-show="(enableTrackBtn && !toggleStartBtn)" class="ui-header-btn ui-header-btn-text ui-header-btn-right" ng-click="stopTracking()">STOP</a>
        </div>
        <div class="ui-content">
        	<div class="container" id="map"></div>
        	
        	<section>
        		<ul class="ui-listview ">
	        		<li class="ui-li-static">
	                    <div class="kg-event-list">
	                    	<div class="arrived-member-list" ng-show="trackingMode">
                        		<ul>Arrived People
                        			<li class="arrived-member" ng-repeat="person in arrivedPpl">{{ person.label }}
                        			</li>
            					</ul>
            				</div>
            				<div class="all-members-meet" ng-show="showAnimation">
            					<div class="animate-text">Everyone Reached...!!!</div>
            				</div>
	                        <div class="event-detail">
	                            <div class="event-date ">
	                                <div class="event-dd">{{selectedEvent.event_date|date:"dd MMM"}}</div><span>{{selectedEvent.title}}</span>
	                            </div>
	                            <div class="event-dtls ">
	                                <div class="event-name">{{selectedEvent.title}}</div>
									<span>{{selectedEvent.description}}</span>
                                     <br/>
                                     <span>{{selectedEvent.location}}</span>
	                            </div>
	                        </div>
	                        <div class="event-member-list vertical-align-text">
                                <ul class="member-list">
                                    <li ui-sref="inviteeList">{{ customisedInviteeList }}</li>
                                </ul>
	                        </div>
	                        <div ng-if="selectedEvent.status =='pending'">
	                            <div class="pending-status">
	                                <a class="ui-btn btn-fab" data-inline="true">Reject</a>
	                                <a class="ui-btn btn-fab" data-inline="true">Accept</a>
	                            </div>
                         	</div>
                         	<div ng-if="selectedEvent.status=='accepted'">
                    			<div class="accepted-status" >
                        			<a class="ui-btn btn-fab" data-inline="true">Opt out of the event</a>
                    			</div>
                			</div> 
	                    </div>
	               </li>
        		</ul>
        	</section>
        </div>
    </div>
</div>
