<div class="ui-header" data-position="fixed">
        <h2 class="ui-title">Event Name</h2>
        <a class="ui-header-btn ui-header-btn-text ui-header-btn-left">BACK</a>
        <!-- <a class="ui-header-btn ui-header-btn-text ui-header-btn-right">CREATE</a> -->
    </div>
<div class="container" id="map"></div>
<div class="container arrivedPplWrapper">Reached People	
	<span class="arrivedPplItem" ng-repeat="person in arrivedPpl">{{ person.name }}</div>
</div>
<div>
	<span ng-click="trackUsers()">Start Tracking</span>
	<a ui-sref="home">back</a>
</div>	

<div class="container eventDetailsWrapper">
	<div class="dateTimeHolder">
		<span>{{ selectedEvent.eventDate }}</span>
		<span>{{ selectedEvent.eventTime }}</span>
	</div>
	<div class="eventDetailsHolder">
		<span>{{ selectedEvent.eventName }}</span>
		<span>{{ selectedEvent.eventLocation }}</span>
	</div>
</div>
<div class="container attendeeList" ui-sref="inviteeList">
	<!-- <span ng-repeat="invitee in selectedEvent.UsersInvited">{{invitee +" "}}</span> -->
	<span>{{ customisedInviteeList }}</span>
</div>