<div class="controls container">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    <input id="start" class="controls" type="text" placeholder="Enter an origin location">
    <input id="end" class="controls" type="text" placeholder="Enter a destination location">
</div>
    <div id="mode-selector" class="controls">
        <input type="radio" name="type" id="changemode-walking" checked="checked">
        <label for="changemode-walking">Walking</label>
        <input type="radio" name="type" id="changemode-transit">
        <label for="changemode-transit">Transit</label>
        <input type="radio" name="type" id="changemode-driving">
        <label for="changemode-driving">Driving</label>
    </div>
<div class="container" id="map"></div>
<!-- <div id="map"></div> -->
<a href="#/login">back</a>