<script type="text/javascript" src="js/libs/tau/mobile/js/tau.js"></script>
<!--NewEvent page-->
<div class="contentWrapper newevent">
    <div id="eventDetail" class="ui-page ui-page-active">
        <div class="ui-header" data-position="fixed">
            <h2 class="ui-title">New Event</h2>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-left" ui-sref="home">BACK</a>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-right">CREATE</a>
        </div>
        <div class="ui-content">
            <ul class="ui-listview ui-colored-list">
                <li class="ui-li-static">
                    <div class="textinput-box">
                        <input type="text"  id="eventName" placeholder="Event" data-clear-btn="true" ng-model="eventName" ng-change="updateEventName()" ng-model-options="{ debounce: 1000 }"/>
                    </div>
                </li>
                <li class="ui-li-static">
                    <div class="textinput-box" ui-sref="location">
                        <textarea type="text" name="locationField" id="locationField" placeholder="Location" disabled="disabled" ng-model="location"></textarea>
                        <!-- <textarea name="locationField" id="locationField" placeholder="Location" disabled="disabled" ng-model="location"></textarea> -->
                        <span class="location"></span>
                    </div>
                </li>
                <li class="ui-li-static">
                    <div class="textinput-box">
                        <div class="textinput-box">
                            <label for="DateTime">Date</label>
                            <input type="date" name="dateField" id="dateField" class="datepicker" ng-model="eventDate" />
                            <input type="time" name="timeField" id="timeField" class="timepicker" ng-model="eventDate" />
                        </div>
                </li>
                <!-- <li class="ui-li-static">
                    <span  ng-repeat="user in users">{{user}}</span>
                </li> -->
                <li class="ui-li-static">
                    <div class="textinput-box" ui-sref="contactList">
                        <span  >{{addedUsers}} </span>
                        <input type="text" name="peopleField" id="peopleField" placeholder="People" disabled="disabled" />
                        <span class="people"></span>
                    </div>
                </li>
                <li class="ui-li-static"></li>
            </ul>
            </div>
            <!-- Button not required - (direct from input field) -->
            <!-- Add People input field (direct to ContactList) -->
            <div class="ui-footer">
            </div>
            <!-- Reminder + End Time -->
        </div>
        <div class="container">
        </div>
    </div>
