<!--NewEvent page-->
<div id="newevent" class="ui-page ui-page-active">
    <div class="ui-header" data-position="fixed">
        <h2 class="ui-title">New Event</h2>
        <a class="ui-header-btn ui-header-btn-text ui-header-btn-left">BACK</a>
        <a class="ui-header-btn ui-header-btn-text ui-header-btn-right">CREATE</a>
    </div>
    <div class="ui-content">
        <p>DEMO</p>
    </div>
    <!-- Button not required - (direct from input field) -->
    <!-- Add People input field (direct to ContactList) -->
    <div class="ui-footer">
        <a ui-sref="location" class="ui-btn">Location</a>
    </div>
    <!-- Reminder + End Time -->
</div>
